* {
    padding:0;
    margin:0;
}

.background{
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-abstrato-colorido_23-2148807053.jpg?size=626&ext=jpg);
      height: 800px;
      width: 100%;
      background-size:cover;
      background-position:center;
     
}




